<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../src/main.css">
    <script defer src="https://kit.fontawesome.com/4cdc8113d5.js" crossorigin="anonymous"></script>
    <!-- <script defer src="/public/dist/js/typing_loop.js"></script> -->
</head>
<body class="portfolio">
    <header class="header">
        <div class="icon">
            <span class="red"><i class="fa-solid fa-code"></i></span>
            Dalitso <span class="red">Banda</span>
            <i class="fa-solid fa-code"></i>
        </div>
        <div class="links">
            <ul class="list">
                <li class="h-link" id="link_1"><a class="" href="/index.html">Home</a></li>
                <li class="h-link" id="link_2"><a class="active" href="/public/views/portfilo.html">Portfolio</a></li>
                <li class="h-link" id="link_3"><a class="" href="/public/views/service.html">Services</a></li>
                <li class="h-link" id="link_4"><a class="" href="/public/views/about.html">About</a></li>
                <li class="h-link" id="link_5"><a class="" href="/public/views/faq.html">FAQ</a></li>
                <li class="h-link" id="link_8"><a class="" href="/public/views/reviews.html">Reviews</a></li>
            </ul>
        </div>
        <div class="search_bar">
            <input type="search" name="bar" id="search_bar" placeholder="Search for project">
        </div>
    </header>
    <section class="ad"><p class="motto">This is my personal digital treasure chest</p></section>
    <main class="text">
        <section class="discription">
            <h1 class="name">Hi my name is <span class="red">Dalitso Banda</span></h1>
            <h2 class="what_i_am"> I am a
                <span class="title">
                    <span class="red"> Computer scientist:</span>
                    <span class="typing"> </span>
                </span>
            </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae dignissimos iusto fuga inventore esse cupiditate aspernatur. Fugiat incidunt, dicta eveniet soluta perspiciatis quasi ipsum pariatur, adipisci neque officia rem doloremque!</p>
        </section>
        <div>
            <h1 class="section-title skills">Skills</h1>
        </div>
        <section class="info">
            <div class="skills-card card1">
                <div>
                    <h2 class="title">Calculator</h2>
                    <p>
                        This is a porject that has three different levels of Calculators.
                    </p>
                    <ul>
                        <li>Basic</li>
                        <li>Intermediate</li>
                        <li>Advanced</li>
                    </ul>
                </div>
            </div>
            <div class="skills-card card2">
                <div>
                    <h2 class="title">Hostel Management system</h2>
                    <p>
                        An answer to all your logistical administrative problems. This hostel management system aim to provid a compreshenvise answer to every institution based of your business rules in as simple, streamline and pain free way. This system is a dream for users, administrators and companies alike.
                    </p>
                </div>
            </div>
            <div class="skills-card card3">
                <div>
                    <h2 class="title">Digital diary</h2>
                    <p>
                        This is a space to create your own little piece of the internet. A place to keep your secrets, dreams, ideas and stories. Here your imagination can run rampant. A simple and safe way to store the deepest parts of yourself.
                    </p>
                </div>
            </div>
            <div class="skills-card card4">
                <div>
                    <h2 class="title">AI Chat bot</h2>
                    <p>
                        You best friend, advise or assisstant. Your one stop shop for all your questions, conversations and stories. take to your digital best friend.
                    </p>
                </div>
            </div>
            <div class="skills-card card5">
                <div>
                    <h2 class="title">Banking system</h2>
                    <p>
                        A bank that is made by you, for you. A modern backing system that allows you to send, receive, pay, save and more. This mighty power is yours to control on your phone, computer or watch anytime, any place.
                    </p>
                </div>
            </div>
            <div class="skills-card card6">
                <div>
                    <h2 class="title">Hacking Scripts</h2>
                    <p>
                        Here you can find a Penetration and cybersecurity testing toolkit that you help you test and defend your system. Go wild with the swords and shields of the cyber world. In times of cyber warfare every king and queen need an arsenal that they can use to protect their empire.
                    </p>
                </div>
            </div>
        </section>
        <section>
            <div class="reviews">
                <div class="review">
                    <div class="reviewer-image"></div>
                    <div class="reviewer-name"></div>
                    <div class="reviewer-review"></div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="copyright">&copy; PhantomX 2024</div>
        <div class="socials">
            <ul class="list">
                <li class="link">
                    <a href="https://github.com/PhantomXero">
                        <i class="fab fa-github fa-2x"></i>
                        Github
                    </a>
                </li>
                <li class="link">
                    <a href="https://twitter.com/Vision">
                        <i class="fab fa-twitter fa-2x"></i>
                        X
                    </a>
                </li>
                <li class="link">
                    <a href="#1">
                        <i class="fab fa-instagram fa-2x"></i>
                        Instagram
                    </a>
                </li>
                <li class="link">
                    <a href="https://www.linkedin.com/in/dalitso-banda-12b4a5182/">
                        <i class="fab fa-linkedin fa-2x"></i>
                        Linkedin
                    </a>
                </li>
                <li class="link">
                    <a href="#">
                        <i class="fab fa-facebook fa-2x"></i>
                        Facebook
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>