<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../src/main.css">
    <script defer src="https://kit.fontawesome.com/4cdc8113d5.js" crossorigin="anonymous"></script>
    <!-- <script defer src="/public/dist/js/typing_loop.js"></script> -->
</head>
<body class="main">
    <header class="header">
        <div class="icon">
            <span class="red"><i class="fa-solid fa-code"></i></span>
            Dalitso <span class="red">Banda</span>
            <i class="fa-solid fa-code"></i>
        </div>
        <div class="links">
            <ul class="list">
                <li class="h-link" id="link_1"><a class="" href="/index.html">Home</a></li>
                <li class="h-link" id="link_2"><a class="" href="/public/views/portfilo.html">Portfolio</a></li>
                <li class="h-link" id="link_3"><a class="active" href="/public/views/service.html">Services</a></li>
                <li class="h-link" id="link_4"><a class="" href="/public/views/about.html">About</a></li>
                <li class="h-link" id="link_5"><a class="" href="/public/views/faq.html">FAQ</a></li>
                <li class="h-link" id="link_8"><a class="" href="/public/views/reviews.html">Reviews</a></li>
            </ul>
        </div>
        <div class="search_bar">
            <input type="search" name="bar" id="search_bar" placeholder="Search for Service">
        </div>
    </header>
    <section class="ad"><p class="motto">Welcome to my little section of the internet</p></section>
    <main class="text">
        <section class="discription">
            <h1 class="name">Hi my name is <span class="red">Dalitso Banda</span></h1>
            <h2 class="what_i_am"> I am a
                <span class="title">
                    <span class="red"> Computer scientist:</span>
                    <span class="typing"> </span>
                </span>
            </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae dignissimos iusto fuga inventore esse cupiditate aspernatur. Fugiat incidunt, dicta eveniet soluta perspiciatis quasi ipsum pariatur, adipisci neque officia rem doloremque!</p>
        </section>
        <div>
            <h1 class="section-title skills">Skills</h1>
        </div>
        <section class="info">
            <div class="skills-card card1">
                <div>
                    <h2 class="title">Javascript</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem facilis distinctio vero quibusdam ut culpa ipsum velit inventore quis doloremque, nostrum, itaque vel corporis atque iste nisi? Excepturi, repellendus illo!
                    </p>
                </div>
            </div>
            <div class="skills-card card2">
                <div>
                    <h2 class="title">Html + CSS</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem facilis distinctio vero quibusdam ut culpa ipsum velit inventore quis doloremque, nostrum, itaque vel corporis atque iste nisi? Excepturi, repellendus illo!
                    </p>
                </div>
            </div>
            <div class="skills-card card3">
                <div>
                    <h2 class="title">C</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem facilis distinctio vero quibusdam ut culpa ipsum velit inventore quis doloremque, nostrum, itaque vel corporis atque iste nisi? Excepturi, repellendus illo!
                    </p>
                </div>
            </div>
            <div class="skills-card card4">
                <div>
                    <h2 class="title">C#</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem facilis distinctio vero quibusdam ut culpa ipsum velit inventore quis doloremque, nostrum, itaque vel corporis atque iste nisi? Excepturi, repellendus illo!
                    </p>
                </div>
            </div>
            <div class="skills-card card5">
                <div>
                    <h2 class="title">C++</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem facilis distinctio vero quibusdam ut culpa ipsum velit inventore quis doloremque, nostrum, itaque vel corporis atque iste nisi? Excepturi, repellendus illo!
                    </p>
                </div>
            </div>
            <div class="skills-card card6">
                <div>
                    <h2 class="title">Python</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem facilis distinctio vero quibusdam ut culpa ipsum velit inventore quis doloremque, nostrum, itaque vel corporis atque iste nisi? Excepturi, repellendus illo!
                    </p>
                </div>
            </div>
        </section>
        <section>
            <div class="reviews">
                <div class="review">
                    <div class="reviewer-image"></div>
                    <div class="reviewer-name"></div>
                    <div class="reviewer-review"></div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="copyright">&copy; PhantomX 2024</div>
        <div class="socials">
            <ul class="list">
                <li class="link">
                    <a href="https://github.com/PhantomXero">
                        <i class="fab fa-github fa-2x"></i>
                        Github
                    </a>
                </li>
                <li class="link">
                    <a href="https://twitter.com/Vision">
                        <i class="fab fa-twitter fa-2x"></i>
                        X
                    </a>
                </li>
                <li class="link">
                    <a href="#1">
                        <i class="fab fa-instagram fa-2x"></i>
                        Instagram
                    </a>
                </li>
                <li class="link">
                    <a href="https://www.linkedin.com/in/dalitso-banda-12b4a5182/">
                        <i class="fab fa-linkedin fa-2x"></i>
                        Linkedin
                    </a>
                </li>
                <li class="link">
                    <a href="#">
                        <i class="fab fa-facebook fa-2x"></i>
                        Facebook
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>